/*Bu Tasarım Emrah Kahraman tarafından kodlanmıstır.*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "_grid.scss";
@import "_variable.scss";
@import "_mixins.scss";    

* {
    box-sizing: border-box;
}

body {
    background-color: $base-color;
    width: 100%;
    min-height: 100vh;
    font-size: $size;
    font-family: $family;
    color: $primary-color;
}

//Wrapper#
#wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url('https://via.placeholder.com/1920x750');
    background-repeat: no-repeat;
    background-position: center center;
    @include bg-size(cover);
    //Header#
    #header {
        width: 100%;
        background-color: transparent;
        @include transition(0.4s);
        position: fixed;
        top: 0;
        z-index: 2;
        border-bottom: 1px solid #a1a2a3;
        //header-wrapper
        .header-wrapper {
            @include flex();
            @include justify-content(space-between);
            @include align-items(center);
            height: 70px;
            position: relative;
            //logo
            .logo {
                position: relative;
                z-index: 3;
            }
            //menu
            .menu {
                margin-bottom: 0;
                li {
                    display: inline-block;
                    margin-right: 20px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        color: $base-color;
                        text-transform: uppercase;
                        @include weight(bold);
                        font-family: $family;
                        position: relative;
                        &::before {
                            position: absolute;
                            width: 0;
                            margin: -28px 0;
                            @include transition(0.4s);
                            content: "";
                            background-color: $base-color;
                            height: 3px;
                            border-radius: 2px;
                            left: 0;
                            bottom: 0;
                        }
                        &:hover {
                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            //hamburger
            .hamburger {
                display: none;
                position: fixed;
                top: 19px;
                right: 15px;
                cursor: pointer;
                z-index: 999;
                i {
                    color: $base-color;
                    font-size: 30px;
                    cursor: pointer;
                    @include transition(0.4s);
                }
            }
            //Notebook
            @include notebook {
                .menu {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: $secondary-color;
                    z-index: 2;
                    text-align: center;
                    @include flex();
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include scale(0);
                    opacity: 0;
                    transition: opacity 650ms;
                    li {
                        display: block;
                        margin-right: 0;
                        padding-bottom: 30px;
                        &:last-child {
                            padding-bottom: 0;
                        }
                        a {
                            font-size: 17px;
                            @include weight(bold);
                            color: $base-color;
                            &::before {
                                background-color: $base-color;
                                margin: -7px 0;
                            }
                        }
                    }
                }
                .menu.open {
                    opacity: 1;
                    @include scale(1);
                }
                .hamburger {
                    display: block;
                    .fa-times {display: none;}
                    .fa-times.open {display: block;}
                    .fa-bars.open {display: none;}
                }
            }
        }
    }
    //caption
    .caption {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        color: $base-color;
        h6 {
            font-size: 50px;
            @include weight(medium);
            line-height: normal;
            text-transform: uppercase;
        }
        p {
            padding-top: 20px;
            font-size: 18px;
            letter-spacing: 0.5px;
            line-height: 25px;
        }
        button {
            margin-top: 40px;
            padding: 20px 40px;
            @include border-radius(5px);
            background-color: $secondary-color;
            a {
                color: $base-color;
                text-transform: uppercase;
                @include weight(bold);
                font-size: $size;
            }
        }
        //Large
        @include large {
            h6 {font-size: 40px}
            p {font-size: 15px; line-height: 22px}
            button {margin-top: 30px}
        }
        //Notebook
        @include notebook {
            h6 {font-size: 25px}
            p {font-size: $size; line-height: 22px}
            button {margin-top: 30px; padding: 15px 25px}
        }
        //Tablet
        @include tablet {
            text-align: center;
            h6 {font-size: 18px; line-height: 25px}
            p {font-size: $size; line-height: 22px;}
            button {margin-top: 30px; padding: 15px 25px}
        }
        //Mobil
        @include mobil {
            text-align: center;
            h6 {font-size: $size; line-height: normal}
            p {font-size: 12px; line-height: 18px;}
            button {
                margin-top: 30px; padding: 10px 20px;
                a {font-size: 12px}
            }
        }
    }
}
#wrapper
#header.fixed {
    border: none;
    @include box-shadow2(0px, 3px, 10px, 0px, rgba(0,0,0,0.36));
    background-color: $secondary-color;
}

//Home-Services#
#home-services {
    width: 100%;
    padding: 80px 0 80px 0;
    //title
    .title {
        text-align: center;
        h6 {
            font-size: 35px;
            @include weight(medium);
            text-transform: capitalize;
            color: $secondary-color;
        }
        p {
            padding-top: 25px;
            letter-spacing: 0.5px;
            color: $three-color;
            line-height: 22px;
            font-size: 16px;
        }
        //Notebook
        @include notebook {
            h6 {font-size: 25px}
        }
        //X-Tablet
        @include x-tablet {
            h6 {font-size: 18px}
            p {font-size: $size; padding-top: 20px;}
        }
        //Mobil
        @include mobil {
            h6 {font-size: $size; line-height: normal}
            p {font-size: 12px; padding-top: 15px;}
        }
    }
    //home-services-wropper
    .home-services-wrapper {
        text-align: center;
        padding-top: 60px;
        //home-services-item
        .home-services-item {
            position: relative;
            i {
                width: 120px;
                height: 120px;
                line-height: 120px;
                margin: 0 auto;
                @include border-radius(50%);
                border: 1px solid #ececec;
                color: $secondary-color;
                @include transition(0.4s);
            }
            h5 {
                padding-top: 25px;
                color: $primary-color;
                font-size: 22px;
                @include weight(medium);
            }
            p {
                padding-top: 20px;
                color: $three-color;
                font-size: $size;
                line-height: 22px;
                letter-spacing: 0.5px;
            }
            &:hover {
                cursor: pointer;
                i {
                    background-color: $secondary-color;
                    border: 1px solid $secondary-color;
                    color: $base-color;
                }
            }
        }
        //Notebook
        @include notebook {
            padding-top: 30px;
            .home-services-item {
                margin-top: 30px;
            }
        }
        //Small
        @include small {
            .home-services-item {
                i {
                    width: 80px;
                    height: 80px;
                    line-height: 80px;
                    font-size: 25px;
                }
                h5 {font-size: $size; line-height: normal}
                p {font-size: 12px; padding-top: 10px}
            }
        }
    }
}

//Home-About#
#home-about {
    width: 100%;
    padding: 80px 0 80px;
    background-color: $secondary-color;
    //home-about-wrapper
    .home-about-wrapper {
        //home-about-text
        .home-about-text {
            color: $base-color;
            h5 {
                font-size: 24px;
                text-transform: capitalize;
                @include weight(regular);
            }
            h6 {
                padding-top: 15px;
                font-size: 45px;
                text-transform: capitalize;
                @include weight(medium);
            }
            p {
                padding-top: 20px;
                font-size: $size;
                line-height: 22px;
                letter-spacing: 0.4px;
            }
            button {
                margin-top: 30px;
                background-color: $base-color;
                @include border-radius(5px);
                padding: 15px 30px;
                a {
                    color: $secondary-color;
                    font-size: $size;
                    text-transform: uppercase;
                    @include weight(bold);
                }
            }
        }
        //home-about-img
        .home-about-img {
            img {width: 100%}
        }
        //Notebook
        @include notebook {
            //home-about-text
            .home-about-text {
                h5 {font-size: 20px}
                h6 {font-size: 30px}
                p {padding-top: 15px}
                button  {width: 100%; padding: 15px 0;}
            }
            //home-about-img
            .home-about-img {margin-top: 30px}
        }
        //Mobil
        @include mobil {
            //home-about-text
            .home-about-text {
                h5 {font-size: 15px}
                h6 {font-size: 18px; padding-top: 10px; line-height: normal}
                p {line-height: 20px;}
                button {
                    margin-top: 20px; padding: 10px 5px;
                    a {font-size: 10px}
                }
            }
        }
    }
}

//Home-Why#
#home-why {
    width: 100%;
    padding: 200px 0 200px 0;
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url('https://via.placeholder.com/1920x400');
    background-repeat: no-repeat;
    background-position: center center;
    @include bg-size(cover);
    position: relative;
    //text-center
    .text-center {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        text-align: center;
        color: $base-color;
        h4 {
            font-size: 24px;
            @include weight(regular);
            text-transform: capitalize;
        }
        h5 {
            padding-top: 10px;
            font-size: 40px;
            @include weight(medium);
            text-transform: capitalize;
        }
        .icon {
            padding-top: 20px;
            a {
                color: $base-color;
                i {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    @include border-radius(50%);
                    background-color: $secondary-color;
                    cursor: pointer;
                }
            }
            h6 {
                padding-top: 15px;
                font-size: 17px;
                @include weight(medium);
                text-transform: uppercase;
            }
        }
    }
    //Notebook
    @include notebook {
        .text-center {
            h4 {font-size: 18px}
            h5 {font-size: 25px}
            .icon {
                padding-top: 20px;
                h6 {font-size: $size}
            }
        }
    }
    //X-Tablet
    @include x-tablet {
        .text-center {
            h4 {font-size: $size}
            h5 {font-size: 18px; line-height: normal}
            .icon {
                h6 {font-size: $size}
            }
        }
    }
    //Small
    @include small {
        .text-center {
            h4 {font-size: 12px}
            h5 {font-size: $size; line-height: normal}
            .icon {
                h6 {font-size: 12px}
            }
        }
    }
}

//Home-Portfolio#
#home-portfolio {
    width: 100%;
    padding: 80px 0 80px 0;
    text-align: center;
    //title
    .title {
        text-align: left;
        h6 {
            font-size: 24px;
            @include weight(regular);
            text-transform: capitalize;
            color: $secondary-color;
        }
        p {
            padding-top: 15px;
            font-size: 45px;
            @include weight(medium);
            text-transform: capitalize;
            color: $primary-color;
        }
        //Tablet
        @include tablet {
            p {font-size: 30px; padding-top: 10px}
        }
        //Mobil
        @include mobil {
            h6 {font-size: 18px}
            p {font-size: 22px; padding-top: 10px}
        }
        //Small
        @include small {
            h6 {font-size: $size}
            p {font-size: 18px; line-height: normal}
        }
    }
    //home-portfolio-wrapper
    .home-portfolio-wrapper {
        padding-top: 25px;
        column-count: 2;
        column-gap: 25px;
        //home-portfolio-item
        .home-portfolio-item {
            position: relative;
            overflow: hidden;
            margin-top: 25px;
            img {width: 100%}
            .overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
                width: 95%;
                height: 95%;
                background-color: #7961e4;
                @include transition(0.4s);
                color: $base-color;
                opacity: 0;
                visibility: hidden;
                .text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include translate(-50%, -50%);
                    text-align: center;
                    color: $base-color;
                    h4 {
                        text-transform: uppercase;
                        @include weight(regular);
                        font-size: $size;
                    }
                    h5 {
                        padding-top: 10px;
                        text-transform: capitalize;
                        @include weight(medium);
                        font-size: 20px;
                    }
                }
            }
            &:hover {
                cursor: pointer;
                .overlay {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    //Notebook
    @include notebook {
        .home-portfolio-wrapper {
            .home-portfolio-item {
                .overlay {
                    .text {
                        h5 {font-size: 16px; line-height: normal}
                    }
                }
            }
        }
    }
    //Tablet
    @include tablet {
        .home-portfolio-wrapper {
            column-count: 1;
        }
    }
    //Mobil
    @include mobil {
        .home-portfolio-wrapper {
            .home-portfolio-item {
                .overlay {
                    .text {
                        h4 {font-size: 12px}
                        h5 {font-size: $size;}
                    }
                }
            }
        }
    }
    button {
        margin-top: 60px;
        text-align: center;
        border: 1px solid $secondary-color;
        background-color: transparent;
        padding: 15px 30px;
        @include transition(0.4s);
        a {
            color: $secondary-color;
            text-transform: uppercase;
            @include weight(medium);
            font-size: $size;
        }
        &:hover {
            background-color: $secondary-color;
            a {color: $base-color}
        }
        //Small
        @include small {
            padding: 10px 20px;
            a {font-size: 12px}
        }
    }
}

//Home-Clients#
#home-clients {
    width: 100%;
    padding: 80px 0 80px 0;
    text-align: center;
    ///title
    .title {
        h5 {
            color: $secondary-color;
            font-size: 24px;
            @include weight(regular);
            text-transform: capitalize;
        }
        h6 {
            padding-top: 10px;
            color: $primary-color;
            font-size: 45px;
            @include weight(medium);
            text-transform: capitalize;
        }
        //Tablet
        @include tablet {
            h5 {font-size: 20px;}
            h6 {font-size: 25px}
        }
        //Mobil
        @include mobil {
            h5 {font-size: 16px}
            h6 {font-size: 20px; padding-top: 5px}
        }
        //Small
        @include small {
            h5 {font-size: 12px}
            h6 {font-size: $size; line-height: normal}
        }
    }
    //home-clients-owl
    .home-clients-owl {
        padding-top: 50px;
        position: relative;
        //item
        .item {
            border: 1px solid #ebebeb;
            background-color: #eeee;
            padding: 40px 20px 40px 20px;
            @include transition(0.4s);
            i {color: $secondary-color}
            p {
                padding: 20px 0 20px 0;
                font-size: 16px;
                color: $three-color;
                letter-spacing: 0.4px;
                line-height: 22px;
            }
            img {
                width: 20%;
                @include border-radius(50%);
                margin: 0 auto;
            }
            h4 {
                padding-top: 15px;
                color: $primary-color;
                font-size: 16px;
                @include weight(medium);
                text-transform: capitalize;
            }
            h3 {
                padding-top: 5px;
                color: $secondary-color;
                font-size: $size;
                @include weight(regular);
                text-transform: capitalize;
            }
            &:hover {
                cursor: pointer;
               @include translate(0, -10px);
            }
        }
        //Mobil
        @include mobil {
            .item {
                padding: 20px 10px 20px 10px;
                i {font-size: 25px}
                p {font-size: 12px; line-height: 16px}
                img {width: 30%;}
                h4, h5 {font-size: 12px; line-height: normal}
            }
        }
        //owl-dots
        .owl-dots {
            margin-top: 30px;
            .owl-dot {
                span {
                    width: 20px;
                    height: 7px;
                    background-color: $three-color;
                    @include transition(0.4s);
                }
            }
            .active {
                span {
                    width: 35px;
                    height: 7px;
                    background-color: $secondary-color;
                }
            }
        }
    }
}

//Home-Statement#
#home-statement {
    width: 100%;
    padding: 130px 0 130px 0;
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url('https://via.placeholder.com/1920x300');
    background-repeat: no-repeat;
    background-position: center center;
    @include bg-size(cover);
    position: relative;
    //center
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        text-align: center;
        color: $base-color;
        h5 {
            font-size: 24px;
            @include weight(regular);
            text-transform: capitalize;
        }
        h6 {
            padding-top: 10px;
            font-size: 45px;
            @include weight(medium);
            letter-spacing: 0.4px;
            line-height: normal;
            text-transform: capitalize;
        }
        button {
            margin-top: 20px;
            padding: 15px 30px;
            background-color: $secondary-color;
            @include transition(0.4s);
            a {
                color: $base-color;
                @include weight(bold);
                text-transform: uppercase;
                font-size: $size;
            }
            &:hover {
                cursor: pointer;
                background-color: $base-color;
                a {color: $secondary-color;}
            }
        }
    }
    //Notebook
    @include notebook {
        .center {
            h5 {font-size: 20px}
            h6 {font-size: 30px}
        }
    }
    //Tablet
    @include tablet {
        .center {
            h5 {font-size: 15px}
            h6 {font-size: 20px}
        }
    }
    //Mobil
    @include mobil {
        .center {
            h5 {font-size: 12px}
            h6 {font-size: $size}
            button {
                padding: 10px 20px;
                a {font-size: 12px; line-height: normal;}
            }
        }
    }
}

//Home-Blog#
#home-blog {
    width: 100%;
    padding: 80px 0 80px 0;
    ///title
    .title {
        h5 {
            color: $secondary-color;
            font-size: 24px;
            @include weight(regular);
            text-transform: capitalize;
        }
        h6 {
            padding-top: 10px;
            color: $primary-color;
            font-size: 45px;
            @include weight(medium);
            text-transform: capitalize;
        }
        //Tablet
        @include tablet {
            h5 {font-size: 20px;}
            h6 {font-size: 25px}
        }
        //Mobil
        @include mobil {
            h5 {font-size: 16px}
            h6 {font-size: 20px; padding-top: 5px}
        }
        //Small
        @include small {
            h5 {font-size: 12px}
            h6 {font-size: $size; line-height: normal}
        }
    }
    //home-blog-wrapper
    .home-blog-wrapper {
        padding-top: 50px;
        //home-services-item
        .home-blog-item {
            img {width: 100%;}
            .caption {
                margin-top: -2px;
                border: 1px solid #ebebeb;
                padding: 30px 20px;
                h4 {
                    a {
                        color: $primary-color;
                        line-height: normal;
                        text-transform: capitalize;
                        font-size: 24px;
                        @include weight(medium);
                    }
                }
                p {
                    padding-top: 10px;
                    font-size: $size;
                    color: $three-color;
                    line-height: 23px;
                }
                .desc {
                    padding-top: 20px;
                    @include flex();
                    .date {color: #b6b6b6;}
                    .author {color: $secondary-color; padding-left: 5px;}
                }
            }
            //Notebook
            @include notebook {
                .caption {
                    h4 {
                        a {font-size: 18px;}
                    }
                }
            }
            //Mobil
            @include mobil {
                .caption {
                    padding: 20px 10px;
                    h4 {
                        a {font-size: $size;}
                    }
                    p {font-size: 12px; line-height: 20px;}
                    .desc {
                        padding-top: 15px;
                        @include flex();
                        @include flex-direction(column);
                        font-size: 12px;
                        .author {padding: 5px 0 0 0;}
                    }
                }
            }
        }
    }
    //Notebook
    @include notebook {
        padding: 80px 0 50px 0;
        .home-blog-wrapper {
            .home-blog-item {
                margin-bottom: 30px;
            }
        }
    }
}

//Home-Brands#
#home-brands {
    width: 100%;
    padding: 40px 0 40px 0;
    background-color: #f9f9f9;
    //home-brands-owl
    .home-brands-owl {
        position: relative;
        //item
        .item {
            position: relative;
            img {
                width: 100%;
                @include transition(0.4s);
                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
        //owl-nav
        .owl-nav {
            margin-top: 20px;
            .owl-prev, .owl-next {
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                color: $base-color;
                background-color: $secondary-color;
            }
        }
    }
}

//Footer#
#footer {
    width: 100%;
    padding: 60px 0 60px 0;
    background-color: #1f1f25;
    //footer-wrapper
    .footer-wrapper {
        color: $base-color;
        //footer-logo
        .footer-logo {
            p {font-size: $size; line-height: 20px; padding-top: 20px;}
            .text {
                padding-top: 25px;
                position: relative;
                input {
                    width: 100%;
                    padding: 15px;
                    background-color: #36363b;
                    color: #c0c0c0;
                }
                i {
                    position: absolute;
                    top: 42px;
                    right: 15px;
                    z-index: 1;
                    color: #c0c0c0;
                }
            }
        }
        //footer-links
        .footer-links {
            h6 {
                @include weight(medium);
                font-size: 18px;
                color: $base-color;
                text-transform: capitalize;
                padding-bottom: 25px;
            }
            ul {
                li {
                    display: block;
                    position: relative;
                    padding: 0 0 15px 17px;
                    &:last-child {
                        padding: 0 0 0 17px;
                    }
                    a {
                        color: $base-color;
                        font-size: $size;
                        text-transform: capitalize;
                        @include transition(0.4s);
                        &::before {
                            content: "\f101";
                            font-family: 'Font Awesome 5 Free';
                            @include weight(bold);
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
        //footer-recent
        .footer-recent {
            h6 {
                @include weight(medium);
                font-size: 18px;
                color: $base-color;
                text-transform: capitalize;
                padding-bottom: 25px;
            }
            .news-items {
                .item {
                    padding-bottom: 20px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    h5 {
                        text-transform: capitalize;
                        a {
                            color: $base-color;
                            letter-spacing: 0.4px;
                            font-size: $size;
                            @include weight(medium);
                        }
                    }
                    i {
                        color: #919191; font-size: 12px;
                        padding-top: 8px;
                        span {@include weight(regular); text-transform: uppercase; padding-left: 5px;}
                    }
                }
            }
        }
        //footer-address
        .footer-address {
            h6 {
                @include weight(medium);
                font-size: 18px;
                color: $base-color;
                text-transform: capitalize;
                padding-bottom: 25px;
            }
            p {font-size: $size; letter-spacing: 1px; line-height: normal ;}
            .desc {
                padding-top: 20px;
                span {
                    display: block;
                    padding-bottom: 10px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    a {color: $base-color; font-size: $size; padding-left: 5px;}
                }
            }
            ul {
                padding-top: 25px;
                li {
                    display: inline-block;
                    padding-right: 7px;
                    &:last-child {
                        padding-right: 0;
                    }
                    a {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        @include border-radius(50%);
                        border: 1px solid #4b4b50;
                        color: $base-color;
                        @include transition(0.4s);
                        &:hover {
                            border: 1px solid $secondary-color;
                            background-color: $secondary-color;
                        }
                    }
                }
            }
        }
        //Large
        @include large {
            .footer-address {margin-top: 30px;}
        }
        //Notebook
        @include notebook {
            .footer-recent {margin-top: 30px;}
        }
        //Tablet
        @include tablet {
            .footer-links {margin-top: 30px;}
        }
        //Mobil
        @include mobil {
            .footer-logo, .footer-links, .footer-recent, .footer-address {
                h6 {font-size: $size; padding-bottom: 20px; line-height: normal;}
            }
            //footer-logo
            .footer-logo {
                p {font-size: 12px; padding-top: 15px;}
                .text {padding-top: 15px;}
            }
            //footer-links
            .footer-links {
                ul {
                    li {
                        a {font-size: 12px;}
                    }
                }
            }
            //footer-recent
            .footer-recent {
                .news-items {
                    .item {
                        h5 {
                            a {font-size: 12px;}
                        }
                    }
                }
            }
            //footer-address
            .footer-address {
                p {font-size: 12px;}
                .desc {
                    padding-top: 15px;
                    span {
                        font-size: 12px;
                        a {font-size: 12px;}
                    }
                }
                ul {
                    li {
                        a {
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                        }
                    }
                }
            }
        }
    }
}


/////ABOUT.HTML
//About-Header#
#page-header{
    width: 100%;
    height: 400px;
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url('https://via.placeholder.com/1920x400');
    background-repeat: no-repeat;
    background-position: center center;
    @include bg-size(cover);
    position: relative;
    //Header#
    #header {
        width: 100%;
        background-color: transparent;
        @include transition(0.4s);
        position: fixed;
        top: 0;
        z-index: 2;
        border-bottom: 1px solid #a1a2a3;
        //header-wrapper
        .header-wrapper {
            @include flex();
            @include justify-content(space-between);
            @include align-items(center);
            height: 70px;
            position: relative;
            //logo
            .logo {
                position: relative;
                z-index: 3;
            }
            //menu
            .menu {
                margin-bottom: 0;
                li {
                    display: inline-block;
                    margin-right: 20px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        color: $base-color;
                        text-transform: uppercase;
                        @include weight(bold);
                        font-family: $family;
                        position: relative;
                        &::before {
                            position: absolute;
                            width: 0;
                            margin: -28px 0;
                            @include transition(0.4s);
                            content: "";
                            background-color: $base-color;
                            height: 3px;
                            border-radius: 2px;
                            left: 0;
                            bottom: 0;
                        }
                        &:hover {
                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            //hamburger
            .hamburger {
                display: none;
                position: fixed;
                top: 19px;
                right: 15px;
                cursor: pointer;
                z-index: 999;
                i {
                    color: $base-color;
                    font-size: 30px;
                    cursor: pointer;
                    @include transition(0.4s);
                }
            }
            //Notebook
            @include notebook {
                .menu {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: $secondary-color;
                    z-index: 2;
                    text-align: center;
                    @include flex();
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include scale(0);
                    opacity: 0;
                    transition: opacity 650ms;
                    li {
                        display: block;
                        margin-right: 0;
                        padding-bottom: 30px;
                        &:last-child {
                            padding-bottom: 0;
                        }
                        a {
                            font-size: 17px;
                            @include weight(bold);
                            color: $base-color;
                            &::before {
                                background-color: $base-color;
                            }
                        }
                    }
                }
                .menu.open {
                    opacity: 1;
                    @include scale(1);
                }
                .hamburger {
                    display: block;
                    .fa-times {display: none;}
                    .fa-times.open {display: block;}
                    .fa-bars.open {display: none;}
                }
            }
        }
    }
    //caption
    .caption {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        text-align: center;
        color: $base-color;
        @include weight(medim);
        font-size: 3vw;
        text-transform: capitalize;
        //X-Tablet
        @include x-tablet {
            font-size: 16px;
            line-height: normal;
        }
    }
}
#page-header
#header.fixed {
    border: none;
    @include box-shadow2(0px, 3px, 10px, 0px, rgba(0,0,0,0.36));
    background-color: $secondary-color;
}

//About-İnfo#
#about-info {
    width: 100%;
    padding: 80px 0 80px 0;
    background-color: $secondary-color;
    //about-info-wrapper
    .about-info-wrapper {
        //about-info-text
        .about-info-text {
            color: $base-color;
            h5 {
                font-size: 24px;
                text-transform: capitalize;
                @include weight(regular);
            }
            h6 {
                padding-top: 15px;
                font-size: 45px;
                text-transform: capitalize;
                @include weight(medium);
            }
            p {
                padding-top: 20px;
                font-size: $size;
                line-height: 22px;
                letter-spacing: 0.4px;
            }
            button {
                margin-top: 30px;
                background-color: $base-color;
                @include border-radius(5px);
                padding: 15px 30px;
                a {
                    color: $secondary-color;
                    font-size: $size;
                    text-transform: uppercase;
                    @include weight(bold);
                }
            }
        }
        //about-info-img
        .about-info-img {
            img {width: 100%;}
        }
           //Notebook
           @include notebook {
            //home-about-text
            .about-info-text {
                h5 {font-size: 20px}
                h6 {font-size: 30px}
                p {padding-top: 15px}
                button  {width: 100%; padding: 15px 0;}
            }
            //home-about-img
            .about-info-img {margin-top: 30px}
        }
        //Mobil
        @include mobil {
            //home-about-text
            .about-info-text {
                h5 {font-size: 15px}
                h6 {font-size: 18px; padding-top: 10px; line-height: normal}
                p {line-height: 20px;}
                button {
                    margin-top: 20px; padding: 10px 5px;
                    a {font-size: 10px}
                }
            }
        }
    }
}

//About-Team#
#about-team {
    width: 100%;
    padding: 80px 0 40px 0;
    text-align: center;
      //title
      .title {
        h5 {
            color: $secondary-color;
            font-size: 24px;
            @include weight(regular);
            text-transform: capitalize;
        }
        h6 {
            padding-top: 10px;
            color: $primary-color;
            font-size: 45px;
            @include weight(medium);
            text-transform: capitalize;
        }
        //Tablet
        @include tablet {
            h5 {font-size: 20px;}
            h6 {font-size: 25px}
        }
        //Mobil
        @include mobil {
            h5 {font-size: 16px}
            h6 {font-size: 20px; padding-top: 5px}
        }
        //Small
        @include small {
            h5 {font-size: 12px}
            h6 {font-size: $size; line-height: normal; padding-top: 12px;}
        }
    }
    //about-team-wrapper
    .about-team-wrapper {
        padding-top: 60px;
        //team-item
        .team-item {
            border: 1px solid #ebebeb;
            padding: 50px 0 50px 0;
            @include transition(0.4s);
            margin-bottom: 30px;
            img {
                @include border-radius(50%);
            }
            h3 {
                padding-top: 25px;
                color: $primary-color;
                font-size: 16px;
                @include weight(medium);
                text-transform: capitalize;
            }
            h4 {
                padding-top: 5px;
                color: $secondary-color;
                font-size: $size;
                @include weight(regular);
                text-transform: capitalize;
            }
            &:hover {
                border: 1px solid $secondary-color;
                background-color: $secondary-color;
                @include box-shadow2(0px, 3px, 10px, 0px, rgba(0,0,0,0.36));
                cursor: pointer;
                h3, h4 {color: $base-color}
            }
        }
    }
    //Small
    @include small {
        .about-team-wrapper {
            .team-item {
                padding: 40px 10px 40px 10px;
                h3, h4 {font-size: 12px; line-height: 16px;}
                h3 {padding-top: 22px;}
                h4 {padding-top: 4px;}
            }
        }        
    }
}

//About-Clients
#about-clients {
    width: 100%;
    padding: 80px 0 80px 0;
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url('https://via.placeholder.com/1920x540');
    background-repeat: no-repeat;
    background-position: center center;
    @include bg-size(cover);
    text-align: center;
    //title
    .title {
        color: $base-color;
        h5 {
            font-size: 24px;
            @include weight(regular);
            letter-spacing: 0.4px;
            text-transform: capitalize;
        }
        h6 {
            padding-top: 10px;
            font-size: 45px;
            letter-spacing: 0.4px;
            @include weight(medium);
            text-transform: capitalize;
        }
        //Tablet
        @include tablet {
            h5 {font-size: 20px;}
            h6 {font-size: 25px}
        }
        //Mobil
        @include mobil {
            h5 {font-size: 16px}
            h6 {font-size: 20px; padding-top: 5px}
        }
        //Small
        @include small {
            h5 {font-size: 12px}
            h6 {font-size: $size; line-height: normal; padding-top: 10px;}
        }
    }
    //about-clients-owl
    .about-clients-owl {
        padding-top: 50px;
        position: relative;
        //item
        .item {
            img {width: 10%; @include border-radius(50%); margin: 0 auto;}
            h3 {
                padding-top: 25px;
                color: $base-color;
                font-size: 16px;
                @include weight(medium);
                text-transform: capitalize;
            }
            h4 {
                padding-top: 10px;
                color: $secondary-color;
                font-size: $size;
                @include weight(regular);
                text-transform: capitalize;
            }
            p {
                padding-top: 25px;
                color: $base-color;
                @include weight(regular);
                font-size: 18px;
                letter-spacing: 0.4px;
                line-height: 25px;
            }
            //Tablet
            @include tablet {
                img {width: 25%}
                h3 {font-size: $size; padding-top: 20px;}
                p {font-size: $size; line-height: 20px; padding-top: 20px;}
            }
            //Small
            @include small {
                img {width: 50%}
                h3 {font-size: 12px;}
                h4 {font-size: 12px;}
                p {font-size: 12px; line-height: 18px;}
            }
        }
        //owl-nav
        .owl-nav {
            margin-top: 0;
            .owl-prev {
                position: absolute;
                top: 25%;
                left: 0;
                color: $base-color;
                font-size: 60px;
                @include weight(light);
                &:hover {
                    background-color: transparent;
                }
            }
            .owl-next {
                position: absolute;
                top: 25%;
                right: 0;
                color: $base-color;
                font-size: 60px;
                @include weight(light);
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}


/////SERVİCES.HTML
//Our-Services#
#our-services {
    width: 100%;
    padding: 80px 0 50px 0;
    text-align: center;
    //title
    .title {
        h6 {
            color: $secondary-color;
            font-size: 35px;
            @include weight(medium);
            text-transform: capitalize;
        }
        p {
            padding-top: 20px;
            color: $three-color;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.4px;
            @include weight(regular);
        }
        //Notebook
        @include notebook {
            h6 {font-size: 25px;}
            p {font-size: $size; padding-top: 15px; line-height: 20px;}
        }
        //X-Tablet
        @include x-tablet {
            h6 {font-size: 18px; line-height: normal;}
            p {font-size: $size; padding-top: 13px; line-height: 20px;}
        }
        //Mobil
        @include mobil {
            h6 {font-size: 16px; line-height: normal;}
            p {font-size: 12px; padding-top: 15px; line-height: 18px;}
        }
        //X-Small
        @include x-small {
            h6 {font-size: $size; line-height: normal;}
            p {font-size: 12px; padding-top: 13px; line-height: 18px;}
        }
    }
    //our-services-wrapper
    .our-services-wrapper {
        padding-top: 50px;
        //services-item
        .services-item {
            margin-bottom: 30px;
            i {
                width: 120px;
                height: 120px;
                line-height: 120px;
                text-align: center;
                @include border-radius(50%);
                border: 1px solid #ebebeb;
                color: $secondary-color;
                @include transition(0.4s);
                &:hover{
                    cursor: pointer;
                    background-color: $secondary-color;
                    color: $base-color;
                }
            }
            h5 {
                padding-top: 20px;
                color: $primary-color;
                font-size: 24px;
                line-height: normal;
                letter-spacing: 0.4px;
                @include weight(medium);
            }
            h4 {
                padding-top: 13px;
                color: $three-color;
                font-size: 16px;
                line-height: 22px;
                @include weight(regular);
            }
        }
        //Mobil
        @include mobil {
            .services-item {
                i {
                    width: 80px;
                    height: 80px;
                    line-height: 80px;
                    font-size: 25px;
                }
                h5 {font-size: 15px; padding-top: 15px;}
                h4 { font-size: 13px; line-height: 20px; padding-top: 10px;}
            }
        }
    }
}

//Services-Statement#
#services-statement {
    width: 100%;
    padding: 80px 0 80px 0;
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url('https://via.placeholder.com/1920x350');
    background-repeat: no-repeat;
    background-position: center center;
    @include bg-size(cover);
    text-align: center;
    //center
    .center {
        color: $base-color;
        h5 {
            font-size: 24px;
            @include weight(regular);
            text-transform: capitalize;
        }
        h6 {
            padding-top: 15px;
            text-transform: capitalize;
            @include weight(medium);
            font-size: 45px;
        }
        button {
            margin-top: 25px;
            background-color: $secondary-color;
            padding: 15px 25px;
            @include border-radius(5px);
            a {
                color: $base-color;
                @include weight(bold);
                text-transform: uppercase;
                font-size: $size;
            }
        }
    }
    //Notebook
    @include notebook {
        .center {
            h6 {font-size: 30px;}
        }
    }
    //X-Tablet
    @include x-tablet {
        .center {
            h5 {font-size: 18px;}
            h6 {font-size: 20px;}
        }
    }
    //Mobil
    @include mobil {
        .center {
            h5 {font-size: 15px;}
            h6 {font-size: 18px; padding-top: 10px;}
            button {
                margin-top: 15px;
            }
        }
    }
    //Small
    @include small {
        .center {
            h5 {font-size: 12px; line-height: 18px;}
            h6 {font-size: $size; padding-top: 10px; line-height: 18px;}
            button {
                margin-top: 15px;
                padding: 10px 20px;
                a {font-size: 12px;}
            }
        }
    }
}


/////PORTFOLIO.HTML
//Our-Portfolio#
#our-portfolio {
    width: 100%;
    padding: 80px 0 60px 0;
    //portfolio-tab
    .portfolio-tab {
        text-align: center;
        //tab-list
        .tab-list {
            li {
                display: inline-block;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    text-transform: capitalize;
                    font-size: 16px;
                    color: $primary-color;
                    letter-spacing: 0.4px;
                    @include weight(regular);
                }
                &.aktif {
                    a {color: $secondary-color}
                }
            }
            //X-Tablet
            @include x-tablet {
                li {
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {font-size: $size;}
                }
            }
            //Mobil
            @include mobil {
                li {
                    display: block;
                    margin: 0 0 13px 0;
                    &:last-child {
                        margin: 0 0 0 0;
                    }
                    a {font-size: $size;}
                }
            }
        }
        //tab-content
        .tab-content {
            padding-top: 40px;
            //portfolio-item
            .portfolio-item {
                margin-bottom: 20px;
                overflow: hidden;
                position: relative;
                img {width: 100%}
                .portfolio-caption {
                    width: 100%;
                    height: 100%;
                    background-color: $secondary-color;
                    @include transition(0.4s);
                    color: $base-color;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include translate(-50%, -50%);
                    opacity: 0;
                    visibility: hidden;
                    .text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        @include translate(-50%, -50%);
                        text-align: center;
                        h5 {
                            text-transform: uppercase;
                            font-size: 12px;
                            @include weight(regular);
                        }
                        h6 {
                            padding-top: 10px;
                            text-transform: capitalize;
                            @include weight(medium);
                            line-height: normal;
                            font-size: $size;
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                    .portfolio-caption {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            //Mobil
            @include mobil {
                .portfolio-item {
                    .portfolio-caption {
                        .text {
                            h6 {font-size: 12px; padding-top: 7px;}
                        }
                    }
                }
            }
        }
    }
}


/////PORTFOLIO-DETAİLS.HTML
//Portfolio-Detail#
#portfolio-detail {
    width: 100%;
    padding: 80px 0 80px 0;
    //portfolio-detail-wrapper
    .portfolio-detail-wrapper {
        //portfolio-detail-text
        .portfolio-detail-text {
            h5 {
                color: $primary-color;
                font-size: 35px;
                @include weight(medium);
                letter-spacing: 0.4px;
                line-height: normal;
                text-transform: capitalize;
            }
            .desc {
                padding-top: 20px;
                @include flex();
                @include align-items(center);
                i {
                    color: #aeaeae;span {padding-left: 5px;}
                }
                .text {
                    padding-left: 10px;
                    color: #aeaeae;
                    a {color: $secondary-color; font-size: 16px; @include weight(medium); padding-left: 5px;}
                }
            }
            p {
                padding-top: 30px;
                color: $three-color;
                font-size: 16px;
                line-height: 23px;
                letter-spacing: 0.4px;
            }
            .flex-icon {
                padding-top: 40px;
                @include flex();
                @include align-items(center);
                .icons {
                    i {
                        display: block;
                        color: $secondary-color;
                        padding-bottom: 15px;
                        &:last-child {
                            padding-bottom: 0;
                        }
                        span {
                            padding-left: 15px;
                            color: $primary-color;
                            @include weight(semi-bold);
                            font-size: 16px;
                        }
                    }
                }
                .name {
                    padding-left: 50px;
                    li {
                        padding-bottom: 17px;
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
        //portfolio-detail-img
        .portfolio-detail-img {
            img {width: 100%}
        }
        //Notebook
        @include notebook {
            //portfolio-detail-text
            .portfolio-detail-text {
                h5 {font-size: 25px;}
            }
            //portfolio-detail-img
            .portfolio-detail-img {margin-top: 30px;}
        }
        //X-Tablet
        @include x-tablet {
            //portfolio-detail-text
            .portfolio-detail-text {
                h5 {font-size: 18px;}
                .desc {
                    @include flex();
                    @include flex-direction(column);
                    @include align-items(flex-start);
                    .text {
                        padding: 10px 0 0 0;
                        font-size: $size;
                        a {font-size: $size;}
                    }
                }
                p {font-size: $size; line-height: 22px;}
            }
        }
        //Mobil
        @include mobil {
            //portfolio-detail-text
            .portfolio-detail-text {
                h5 {font-size: $size;}
                .desc {
                    .text {
                        padding: 7px 0 0 0;
                        font-size: 12px;
                        a {font-size: 12px;}
                    }
                }
                p {font-size: 12px; line-height: 20px;}
                .flex-icon {
                    .icons {
                        i {
                            span {padding-left: 8px; font-size: 12px;}
                        }
                    }
                    .name {
                        padding-left: 10px;
                        li {
                            padding-bottom: 17px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        //Small
        @include small {
            //portfolio-detail-text
            .portfolio-detail-text {
                h5 {font-size: 12px; line-height: 16px;}
                .desc {
                    i {
                        span {font-size: 12px;}
                    }
                    .text {
                        padding: 7px 0 0 0;
                        font-size: 12px;
                        a {font-size: 12px;}
                    }
                }
                p {font-size: 12px; line-height: 20px;}
                .flex-icon {
                    @include flex();
                    @include flex-direction(column);
                    @include align-items(flex-start);
                    .icons {
                        i {
                            padding-bottom: 10px;
                            span {padding-left: 8px; font-size: 12px;}
                        }
                    }
                    .name {
                        padding: 20px 0 0 0;
                        li {
                            padding-bottom: 10px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}


/////PRICING.HTML
//Our-Pricing#
#our-pricing {
    width: 100%;
    padding: 80px 0 80px 0;
    //our-pricing-wrapper
    .our-pricing-wrapper {
        text-align: center;
        //pricing-item
        .pricing-item {
            border: 1px solid #ebebeb;
            padding: 40px 20px 40px 20px;
            @include transition(0.4s);
            h5 {
                @include weight(medium);
                font-size: 18px;
                color: $secondary-color;
            }
            h6 {
                padding-top: 15px;
                font-size: 24px;
                @include weight(regular);
                color: $primary-color;
                span {
                    font-size: 35px;
                    @include weight(medium);
                    color: $primary-color;
                }
            }
            .line {
                width: 90%;
                margin: 25px auto;
                height: 1px;
                background-color: #ebebeb;
            }
            ul {
                padding-top: 10px;
                li {
                    color: $three-color;
                    font-size: 16px;
                    position: relative;
                    padding: 0 0 25px 10px;
                    &:last-child {
                        padding: 0 0 0 10px;
                    }
                    &::before {
                        content: "\f054";
                        font-family: 'Font Awesome 5 Free';
                        @include weight(bold);
                        position: absolute;
                        top: 0;
                        margin-left: -15px;
                    }
                    &.disable {
                        color: #b6b6b6;
                    }
                }
            }
            button {
                margin-top: 40px;
                background-color: $secondary-color;
                @include border-radius(5px);
                padding: 15px 20px;
                cursor: pointer;
                a {
                    font-size: $size;
                    color: $base-color;
                    text-transform: uppercase;
                    @include weight(bold);
                }
            }
            &:hover {
                @include box-shadow2(0px, 0, 20px, 3px, rgba(0,0,0,0.36));
            }
        }
    }
    //Notebook
    @include notebook {
        padding: 80px 0 50px 0;
        .our-pricing-wrapper {
            .pricing-item {
                margin-bottom: 30px;
            }
        }
    }
    //Mobil
    @include mobil {
        .our-pricing-wrapper {
            .pricing-item {
                padding: 30px 10px 30px 10px;
                h5 {font-size: $size;}
                h6 {
                    font-size: 18px;
                    span {font-size: 22px;}
                }
                ul {
                    li {
                        font-size: 12px;
                        padding: 0 0 15px 10px;
                    }
                }
                button {
                    margin-top: 30px;
                    padding: 10px 20px;
                    a {font-size: 12px;}
                }
            }
        }
    }
    //Small
    @include small {
        .our-pricing-wrapper {
            .pricing-item {
                padding: 20px 5px 20px 5px;
                h5 {font-size: 12px; line-height: normal;}
                h6 {
                    font-size: $size;
                    span {display: block;font-size: $size; padding: 0 0 5px 0;}
                }
                ul {
                    li {
                        font-size: 12px;
                        line-height: normal;
                        padding: 0 0 15px 10px;
                    }
                }
                button {
                    margin-top: 30px;
                    padding: 7px 10px;
                    a {font-size: 12px;}
                }
            }
        }
    }
}


/////BLOG.HTML
//Blog#
#blog {
    width: 100%;
    padding: 80px 0 80px 0;
    //blog-wrapper
    .blog-wrapper {
        //blog-post
        .blog-post {
            border-bottom: 1px solid #dcdcdc;
            //post
            .post {
                margin-bottom: 50px;
                img {width: 100%;}
                h6 {
                    padding-top: 20px;
                    a {
                        color: $primary-color;
                        font-size: 35px;
                        @include weight(medium);
                        letter-spacing: 0.5px;
                        line-height: normal;
                        @include transition(0.3s);
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
                .desc-post {
                    padding-top: 20px;
                    @include flex();
                    color: #aeaeae;
                    .date {
                        i {
                            span {padding-left: 5px;}
                        }
                    }
                    .author {
                        padding-left: 10px;
                        a {color: $secondary-color; padding-left: 5px;}
                    }
                    .comment {
                        padding-left: 10px;
                        i {
                            span {padding-left: 5px;}
                        }
                    }
                }
                p {
                    padding-top: 30px;
                    line-height: 25px;
                    font-size: 16px;
                    color: $three-color;
                }
                button {
                    margin-top: 30px;
                    padding: 15px 25px;
                    @include border-radius(5px);
                    background-color: $secondary-color;
                    a {
                        color: $base-color;
                        text-transform: uppercase;
                        @include weight(bold);
                    }
                }
            }
            //Notebook
            @include notebook {
                .post {
                    h6 {
                        a {font-size: 25px;}
                    }
                }
            }
            //X-Tablet
            @include x-tablet {
                .post {
                    h6 {
                        a {font-size: 18px;}
                    }
                }
            }
            //Mobil
            @include mobil {
                .post {
                    h6 {
                        a {font-size: $size;}
                    }
                    .desc-post {
                        @include flex();
                        @include flex-direction(column);
                        .author {
                            padding: 7px 0 0 0;
                        }
                        .comment {
                            padding: 7px 0 0 0;
                        }
                    }
                    p {
                        padding-top: 20px;
                        line-height: 20px;
                        font-size: $size;
                    }
                    button {
                        margin-top: 20px;
                        padding: 10px 0;
                        width: 100%;
                        cursor: pointer;
                        a {font-size: 12px;}
                    }
                }
            }
            //Small
            @include small {
                .post {
                    h6 {
                        a {font-size: 12px; line-height: 16px;}
                    }
                    .desc-post {
                        @include flex();
                        @include flex-direction(column);
                        font-size: 12px;
                        .author {
                            padding: 7px 0 0 0;
                        }
                        .comment {
                            padding: 7px 0 0 0;
                        }
                    }
                    p {
                        padding-top: 20px;
                        line-height: 20px;
                        font-size: $size;
                    }
                    button {
                        margin-top: 20px;
                        padding: 10px 3px;
                        width: 100%;
                        cursor: pointer;
                        a {font-size: 10px;}
                    }
                }
            }
        }
        //blog-sidebar
        .blog-sidebar {
            //sidebar
            .sidebar {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
                //search
                .search {
                    position: relative;
                    input  {
                        width: 100%;
                        padding: 10px;
                        @include border-radius(5px);
                        border: 1px solid #c9c9c9;
                        color: #aeaeae;
                    }
                    i {
                        position: absolute;
                        top: 14px;
                        right: 14px;
                        color: #aeaeae;
                    }
                }
                //recent
                .recent {
                    h6 {
                        font-size: 20px;
                        @include weight(medium);
                        text-transform: capitalize;
                    }
                    //recent-items
                    .recent-items {
                        padding-top: 30px;
                        //item
                        .item {
                            @include flex();
                            @include align-items(center);
                            margin-bottom: 30px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .item-image {
                                img {width: 100%}
                            }
                            .item-desc {
                                padding-left: 15px;
                                h5 {
                                    line-height: normal;
                                    a {
                                        color: $primary-color;
                                        font-size: $size;
                                        @include weight(medium);
                                    }
                                }
                                .desc {
                                    padding-top: 5px;
                                    i {
                                        color: $three-color;
                                        span {padding-left: 5px; font-size: 12px;}
                                    }
                                    .author {
                                        padding-top: 5px;
                                        a {color: $secondary-color; font-size: 12px;}
                                    }
                                }
                            }
                        }
                    }
                }
                //tags
                .tags {
                    h6 {
                        font-size: 20px;
                        @include weight(medium);
                        text-transform: capitalize;
                    }
                    ul {
                        padding-top: 20px;
                        li {
                            display: inline-block;
                            background-color: #e7e7e7;
                            padding: 10px 15px;
                            margin: 0 5px 7px 0;
                            a {
                                color: $primary-color;
                                text-transform: uppercase;
                                @include weight(medium);
                                font-size: 12px;
                            }
                        }
                    }
                }
                //categories
                .categories {
                    h6 {
                        font-size: 20px;
                        @include weight(medium);
                        text-transform: capitalize;
                    }
                    ul {
                        padding-top: 20px;
                        li {
                            display: block;
                            position: relative;
                            padding: 0 0 10px 15px;
                            &:last-child {
                                padding: 0 0 0 15px;
                            }
                            a {
                                color: $three-color;
                                text-transform: capitalize;
                            }
                            &::before {
                                content: "\f054";
                                font-family: 'Font Awesome 5 Free';
                                @include weight(bold);
                                color: $three-color;
                                position: absolute;
                                top: 0px;
                                left: 0;
                            }
                        }
                    }
                }
            }
            //Notebook
            @include notebook {
                margin-top: 40px;
            }
            //Mobil
            @include mobil {
                .sidebar {
                    //recent
                    .recent {
                        h6{font-size: $size;}
                        .recent-items {
                            padding-top: 20px;
                            .item {
                                @include flex();
                                @include flex-direction(column);
                                @include align-items(flex-start);
                                .item-desc {
                                    padding: 7px 0 0 0;
                                    h5 {
                                        a {font-size: 12px;}
                                    }
                                }
                            }
                        }
                    }
                    //tags
                    .tags {
                        h6{font-size: $size;}
                        ul {
                            li {
                                padding: 5px 10px;
                                a {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    //categories
                    .categories {
                        h6{font-size: $size;}
                        ul {
                            li {
                                a {font-size: 12px;}
                            }
                        }
                    }
                }
            }
        }
    }
    //page
    .page {
        text-align: center;
        padding-top: 40px;
        li {
            display: inline-block;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: inline-block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                background-color: #e7e7e7;
                text-align: center;
                @include border-radius(3px);
                @include weight(medium);
                color: $primary-color;
                @include transition(0.4s);
                &:hover {
                    background-color: $secondary-color;
                    color: $base-color;
                }
            }
        }
        //Small
        @include small {
            li {
                margin: 0 10px 10px 0;
                &:last-child {
                    margin: 0 10px 0 0;
                }
            }
        }
    }
}


/////BLOG-DETAİLS.HTML
//Blog-Detail#
.blog-detail {
    //post-detail
    .post-detail {
        img {width: 100%;}
        h6 {
            padding-top: 20px;
            color: $primary-color;
            font-size: 35px;
            @include weight(medium);
            letter-spacing: 0.5px;
            line-height: normal;
        }
        .desc-post {
            padding-top: 20px;
            @include flex();
            color: #aeaeae;
            .date {
                i {
                    span {padding-left: 5px;}
                }
            }
            .author {
                padding-left: 10px;
                a {color: $secondary-color; padding-left: 5px;}
            }
            .comment {
                padding-left: 10px;
                i {
                    span {padding-left: 5px;}
                }
            }
        }
        p {
            padding-top: 25px;
            line-height: 25px;
            font-size: 16px;
            color: $three-color;
        }
    }
    //Notebook
    @include notebook {
        .post-detail {
            h6 {font-size: 25px;}
        }
    }
    //X-Tablet
    @include x-tablet {
        .post-detail {
            h6 {font-size: 18px;}
        }
    }
     //Mobil
     @include mobil {
        .post-detail {
            h6 {font-size: $size;}
            .desc-post {
                @include flex();
                @include flex-direction(column);
                .author {
                    padding: 7px 0 0 0;
                }
                .comment {
                    padding: 7px 0 0 0;
                }
            }
            p {
                padding-top: 20px;
                line-height: 20px;
                font-size: $size;
            }
        }
    }
    //Small
    @include small {
        .post-detail {
            h6 {font-size: 12px; line-height: 16px; padding-top: 10px;}
            .desc-post {
                @include flex();
                @include flex-direction(column);
                font-size: 12px;
                .author {
                    padding: 7px 0 0 0;
                }
                .comment {
                    padding: 7px 0 0 0;
                }
            }
            p {
                padding-top: 20px;
                line-height: 18px;
                font-size: 12px;
            }
        }
    }
}


/////CONTACT.HTML
//Contact-İnfo#
#contact-info {
    width: 100%;
    padding: 80px 0 80px 0;
    //contact-info-wrapper
    .contact-info-wrapper {
        //contact-info-text
        .contact-info-text {
            .desc-item {
                @include flex();
                @include align-items(center);
                padding-bottom: 20px;
                &:last-child {
                    padding-bottom: 0;
                }
                .icon {
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    text-align: center;
                    background-color: $secondary-color;
                    color: $base-color;
                    @include border-radius(50%);
                    text-transform: uppercase;
                    font-size: 20px;
                    @include weight(bold);
                }
                .desc {
                    padding-left: 15px;
                    p {
                        color: $three-color; font-size: 16px;
                        a {font-size: 16px; color: $three-color;}
                    }
                }
            }
        }
        //contact-info-form
        .contact-info-form {
            input {
                width: 100%;
                border: 1px solid #aeaeae;
                padding: 15px;
                @include border-radius(5px);
                margin-bottom: 15px;
            }
            textarea {
                width: 100%;
                border: 1px solid #aeaeae;
                padding: 15px;
                @include border-radius(5px);
                resize: none;
                margin-bottom: 15px;
            }
            button {
                width: 100%;
                background-color: $secondary-color;
                padding: 15px 0;
                @include border-radius(5px);
                a {
                    color: $base-color;
                    text-transform: uppercase;
                    @include weight(bold);
                }
            }
        }
        //Notebook
        @include notebook {
            .contact-info-form {margin-top: 30px;}
        }
        //Mobil
        @include mobil {
            //contact-info-text
            .contact-info-text {
                .desc-item {
                    @include flex();
                    @include flex-direction(column);
                    text-align: center;
                    .icon {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        font-size: $size;
                    }
                    .desc {
                        padding: 10px 0 0 0;
                        p {
                            font-size: 12px;
                            line-height: normal;
                            a {font-size: 12px; line-height: normal;}
                        }
                    }
                }
            }
            //contact-info-form
            .contact-info-form {
                input, textarea, button {
                    padding: 10px;
                    font-size: 12px;
                }
            }
        }
    }
}

//Contact-Map#
#contact-map {
    width: 100%;
    position: relative;
    i {
        color: $secondary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        text-align: center;
    }
}